
body {
        margin: 0;
    font-family: poppins,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #000;
    color: #fff;
}
.huVjiU {
    text-decoration: none;
    /* border: 4px solid white; */
    padding: 10px 25px;
    /* border-radius: 10px; */
    font-size: 14px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    font-weight: bold;
} 
.mb-10 {
    margin-bottom: 2.5rem;
}
.justify-center {
    justify-content: center;
}
.flex {
    display: flex;
}
select
{
  background-color: rgb(0, 0, 0);
}
.nes-container {
    position: relative;
    padding: 1.5rem 2rem;
    border-color: #000;
    border-style: solid;
    border-width: 4px;
}
.disabled-button{
    background-color: darkred;
}
.enabled-button{
    background-color:#5dff9c;
    color:#000;
}
.left-buttons{
    width: 50%;
    text-align: right;
}
.right-buttons{
    width: 50%;
    text-align: left;
}
.uxbuttonleft{
    margin-right: 38px;
}
.uxbuttonright{
    margin-left: 38px;
}
.hpbutton{
    display:flex;
    align-items:center;
    padding-left:25px;
}
.modal-header {
    font-weight: bold;
    margin: 15px;
    font-size: larger;
    text-transform: uppercase;
}
.modal-content {
    margin: 30px;
}
.modal-spinner {    
    text-align: center;
    justify-content: center;
    display: flex;
    margin: 10px;
}
.flex-wrap{
    flex-wrap: wrap;
}
.staking-info{
    width: 100%;
}
.locked {
    background-color: rgb(93, 255, 156, 0.7);
    text-align: center;
    color: rgba(255, 255, 255, 1);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
    z-index: 10;
  }
  .spinner {
    animation: rotator 1.4s linear infinite;
  }
  
  @keyframes rotator {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(270deg); }
  }
  
  .path {
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation:
      dash 1.4s ease-in-out infinite, 
      colors 5.6s ease-in-out infinite;
  }
  
  @keyframes colors {
      0% { stroke: rgb(93, 255, 156,); }
      25% { stroke: rgb(84, 201, 129); }
      50% { stroke: rgb(92, 228, 144); }
      75% { stroke: rgb(65, 209, 121); }
    100% { stroke: rgb(93, 255, 156); }
  }
  
  @keyframes dash {
   0% { stroke-dashoffset: 187; }
   50% {
     stroke-dashoffset: 46.75;
     transform:rotate(135deg);
   }
   100% {
     stroke-dashoffset: 187;
     transform:rotate(450deg);
   }
  }