
body {
        margin: 0;
    font-family: poppins,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: rgb(32,31,94);
    background: linear-gradient(90deg, rgba(32,31,94,1) 35%, rgba(7,7,31,1) 100%);
    color: #fff;
}
.huVjiU {
    text-decoration: none;
    padding: 10px 25px;
    font-size: 14px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    font-weight: bold;
    /* border: solid 2px #fff!important;
    border-radius: 3px; */
} 
.choose-wallet {
    border: solid 2px #fff!important;
    border-radius: 3px; 
    background-color: #3A39AA;
}
.mb-10 {
    margin-bottom: 2.5rem;
}
.justify-center {
    justify-content: center;
}
.flex {
    display: flex;
}
select
{
  background-color: transparent;
}
.nes-container {
    position: relative;
    padding: 2.5rem 2rem;
}
.disabled-button{
    background-color:#DF5E6A;
    color:#fff;
    border-radius: 3px
}
.enabled-button{
    background-color:#3A39AA;
    color:#fff;
    border-radius: 3px;
}
.nes-btn {
    border: solid 2px #fff!important;
    border-radius: 3px;
}
.new-staking-account {
    background-color: #3A39AA;
}
.left-buttons{
    width: 50%;
    text-align: right;
    font-weight: normal;
}
.title {
    font-size: 18px;
    padding: 5px
}
.right-buttons{
    width: 50%;
    text-align: left;
    font-weight: normal;
}
.uxbuttonleft{
    margin-right: 38px;
}
.uxbuttonright{
    margin-left: 38px;
}
.hpbutton{
    display:flex;
    align-items:center;
    padding-left:25px;
}
.modal-header {
    font-weight: bold;
    margin: 15px;
    font-size: larger;
    text-transform: uppercase;
}
.modal-content {
    margin: 30px;
}
.modal-spinner {    
    text-align: center;
    justify-content: center;
    display: flex;
    margin: 10px;
}
.flex-wrap{
    flex-wrap: wrap;
}
.width100{
    width: 100%;
}
.locked {
    text-align: center;
    color: rgba(255, 255, 255, 1);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
    z-index: 10;
    border: 2px solid #3A39AA;
    border-radius: 5px;
    background: rgb(140,140,140);
    background: linear-gradient(15deg, rgba(140,140,140,0.2) 0%, rgba(255,255,255,0.2) 56%);
  }
  .spinner {
    animation: rotator 1.4s linear infinite;
  }
  
  @keyframes rotator {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(270deg); }
  }
  
  .path {
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation:
      dash 1.4s ease-in-out infinite, 
      colors 5.6s ease-in-out infinite;
  }
  
  @keyframes colors {
      0% { stroke: rgb(93, 255, 156,); }
      25% { stroke: rgb(84, 201, 129); }
      50% { stroke: rgb(92, 228, 144); }
      75% { stroke: rgb(65, 209, 121); }
    100% { stroke: rgb(93, 255, 156); }
  }
  
  @keyframes dash {
   0% { stroke-dashoffset: 187; }
   50% {
     stroke-dashoffset: 46.75;
     transform:rotate(135deg);
   }
   100% {
     stroke-dashoffset: 187;
     transform:rotate(450deg);
   }
  }